@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,500;0,700;1,400&display=swap');

$bg-color: #201e29;

body {
  background-color: $bg-color;
  background-image: url("../assets/bg-stars.svg");
  font-family: 'Red Hat Text', sans-serif;
  padding-top: 60px;
  overflow: hidden;

  main {
    display: flex;
    flex-direction: column;
    text-align: center; 
    justify-content: center;
    align-items: center;
    gap: 80px;

    h1 {
      color: #fff;
      letter-spacing: 8px;
      font-size: 30px;
    }

    section {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 40px;
      user-select: none;

      .time-container {

        .top, .bottom {
          width: 150px;
          height: 75px;
          border-radius: 10px;
        }

        .top {
          background-color: #2c2c44;
          position: relative;
          
          time {
            color: #fd5e88;
            font-size: 70px;
            font-weight: 700;
            position: relative;
            top: 29px;
          }
        }

        .bottom {
          background-color: #34364f;
          box-shadow: 1px 7px 5px 0px rgb(37, 39, 58);
        }

        h2 {
          color: #8887a4;
          font-weight: 400;
          letter-spacing: 5px;
        }
      }
    }
  }

  footer {
    background-image: url('../assets/pattern-hills.svg');
    background-size: cover;
    height: 200px;
    width: 99%;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 50px;
    position: absolute;
    bottom: 0;

    img {
      width: 35px;
      height: 35px;
      position: relative;
      top: 100px;
      cursor: pointer;
    }

    img:hover {
      filter: invert(49%) sepia(100%) saturate(1640%) hue-rotate(310deg) brightness(101%) contrast(98%);
    }
  }
}

@media screen and (max-width: 750px) {
  body {
    main {
      h1 {
        font-size: 25px;
      }
      section {
        gap: 30px;
        .time-container{
          .top, .bottom {
            width: 120px;
            height: 60px;
          }
          .top {
            time {
              top: 27px;
              font-size: 50px;
            }
          }
          h2 {
            padding-top: 10px;
            font-size: 15px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  body {
    main {
      section {
        gap: 10px;
        .time-container{
          .top, .bottom {
            width: 80px;
            height: 45px;
          }
          .top {
            time {
              top: 20px;
              font-size: 35px;
            }
          }
          h2 {
            padding-top: 10px;
            font-size: 8px;
          }
        }
      }
    }
  }
}